body {font-family: sans,sans-serif;}

h2 { text-align: right;}
div.appblock { clear: both; margin-bottom: 4px;}
div.appblock input[TYPE='TEXT'] { padding-left: 5px;}
div.appblock input[NAME='EMAIL'] { width: 30em;}
div.appblock div.label { 
  float: left; width: 7em; text-align: right; vertical-align: top;
  font-weight: bold;}
div.appblock div.content {
    margin-left: 7em; margin-right: 1em;
    padding-left: 1em; padding-right: 1em;}
div.appblock div.content input.fullwidth[TYPE='TEXT'] { width: 100%;}
div.appblock div.content div.details { display: none;}
div.appblock.expanded { margin-bottom: 18px;}
div.appblock.expanded div.content div.details { display: block;}
div.appblock div.content div.details textarea { 
  width: 100%; min-height: 100px;}

div.appblock div.checkspan {clear: left;}
div.appblock div.checkspan input[TYPE='TEXT'] {display: none;}
div.appblock div.checkspan input.fullfield[TYPE='TEXT'] {display: none;}
div.appblock div.checkspan.ischecked input[TYPE='TEXT'] {display: inline;}

div.appblock span.checkspan { }
div.appblock .checkspan span.note { font-weight: bold; font-size: 80%;}

div.appblock div.content .price {float: right;}
div.appblock div.content .price input[type='text'] { width: inherit;}
div.appblock span.kind {
    font-style: italic; font-weight: bold; 
    font-size: 75%; float: right;}

div.appblock#INVITEBLOCK div.inputs { margin-left: 10em;}
div.appblock#INVITEBLOCK input[TYPE='TEXT'] { width: 100%;}
div.appblock#INVITEBLOCK SELECT { width: 100%;}

div.appblock.create {}
div.appblock.create div.form { 
  position: absolute; left: 10em; right: 1em;}

div.appblock div.details input.fullfield {
    clear: both; display: block;
    margin-left: 5%; margin-right: 5%; width: 90%;}


div.appblock.buttons { text-align: center;}
div.appblock.buttons form { display: inline; clear: none;}

body.sbookapp { margin-left: 5%; margin-right: 5%; background-color: ivory;}
body.sbookapp h1 {
  text-align: center; margin-left: 50px; margin-right: 50px;}
body.sbookapp h1 img { border: 0px;}
body.sbookapp h1 .floatright { float: right;}
body.sbookapp h1 .floatleft { float: left;}

body.sbookapp.embedded { 
    color: #4682b4; background-color: ivory;}
body.sbookapp.embedded a { 
    color: lightblue;}
body.sbookapp.embedded h2 {  text-align: left;}

.floatleft img { margin-right: 4px;}
img.floatleft { margin-right: 4px;}
.floatright img { margin-left: 4px;}
img.floatright { margin-left: 4px;}

body.sbookapp div.pagehead {
  font-size: 150%; min-height: 70px; text-align: center;
  padding-left: 50px; padding-right: 50px;}

body.sbookapp div.pagehead .message {color: red;}
body.sbookapp div.pagehead div.message {font-size: 14px;}

/* The preferences table */

table.preferences th { 
  text-align: right; vertical-align: top;}
table.preferences td { 
  text-align: left; vertical-align: top;}
table.preferences td input[TYPE='text'] { 
  width: 100%;}
table.preferences td textarea { 
  width: 100%; height: 60px;}
table.preferences td textarea:focus { 
  width: 100%; height: 120px;}
table.preferences img#MYPIC { height: 50px;}
table.preferences input[TYPE='TEXT'][NAME='OPENIDS'] {
  background-image: url(http://static.beingmeta.com/graphics/openid-login-bg.gif);
  background-position-x: right;
  background-repeat: no-repeat;}
table.preferences img[ALT='OpenID'] {
  height: 25px;}

div.appblock#IDENTITYBLOCK form#IDFORM { display: none;}
div.appblock#IDENTITYBLOCK div.message {
    display: block; font-style: italic;}
div.appblock#IDENTITYBLOCK.expanded form#IDFORM { display: block;}
div.appblock#IDENTITYBLOCK.expanded div.message { display: none;}
div.appblock#IDENTITYBLOCK button { border: outset;}
div.appblock#IDENTITYBLOCK.expanded button { border: inset;}

h2 { margin: 3px; clear: both;}

div.item { clear: both; margin-right: 30px; }
div.item span.action {
    float: left; width: 65px; margin-right: 10px;
    text-align: right;}
div.item input.fullwidth[TYPE='TEXT'] {
    width: 100%; vertical-align: top;}
div.item TEXTAREA { width: 100%; min-height: 5ex;}
div.item span.refuri { white-space: nowrap;}
div.item .invite { float: right; font-size: 70%;}
div.item span.title { font-size: 12px;}
div.item span.refuri { font-size: 10px; font-family: fixed;}
div.item span.isfree {
    float: right; font-size: 50%; font-weight: bold; color: black;
    border: solid yellow 2px; background-color: ivory; padding: 3px;
    border-radius: 6px;}


div.item div.content {
    margin-left: 75px; font-size: 125%; text-indent: 0px;}

#TOPBLOCK div.item { font-size: 115%;}
#TOPBLOCK div.item .action input[TYPE='SUBMIT'] { }

.free { color: gold; float: right;}
span.price { color: gold;}
span.price:before { content: "$";}
h1 div.spacer { font-size: 50%;}
h1 div.grouptitle { font-style: italic;}
h1 div.title { font-size: 75%;}
h1 div.refuri { font-size: 75%;}

.mustpay {
    font-size: 125%; text-align: center;}
.mustpay .paybutton {
    float: right;}