s@charset "UTF-8";

body.sbook {
  background-color: ivory;}
body.sbook div#SBOOKBODY {
    margin-left: auto; margin-right: auto;}
body.sbook a { text-decoration: none;}
body.sbook a:hover { text-decoration: underline;}

body.sbook.thirty div#SBOOKBODY { max-width: 30em;}
body.sbook.forty div#SBOOKBODY { max-width: 40em;}

body.sbook.novel h1, body.sbook.novel .chapter, body.sbook.novel .sbook1 {
    text-align: center; margin-left: 5%; margin-right: 5%;}
hr.divider { 
    text-align: center; height: 7px; width: 50%;
    color: gray; background-color: gray;}
body.sbook h1 { page-break-before: always; }
body.sbook .titlepage {
  margin-left: 5%; margin-right: 5%;
  padding-top: 2ex; padding-bottom: 2ex;
  background-color: lightgray;
  font-size: 32px; text-align: center;
  page-break-inside: avoid;
  page-break-after: always;
  overflow: hidden;}
body.sbook .titlepage .title, {
    text-align: center; font-weight: bold;
    clear: both; font-size: 150%;}
body.sbook .titlepage .title img {
    width: 80%;}
body.sbook .titlepage div.subtitle {
  clear: both;
  text-align: center; font-style: italic; font-weight: normal;
  font-size: 50%;}
body.sbook .titlepage .author { 
  clear: both;
  text-align: center; font-style: italic; 
  margin-top: 1em; margin-bottom: 1em;
  font-size: 120%;}
body.sbook .titlepage .editor { 
  clear: both;
  text-align: center; font-style: normal; font-weight: normal;
  font-size: 100%;}
body.sbook .titlepage div.dedication { 
  clear: both;
  text-align: left; font-style: normal; font-weight: normal;
  margin-left: auto; margin-right: auto; width: 50%;
  font-size: 50%;}
body.sbook .titlepage div.pubinfo { 
  clear: both; font-size: 80%;
  position: relative; bottom: 0px;
  font-variant: smallcaps;
  background-color: ivory; font-size: 50%; padding: 4px;
  width: 90%; margin-left: 5%; margin-right: 5%;
  margin-bottom: 12px; margin-top: 12px;}
body.sbook h1.titlepage div.sbookinfo { 
    float: left; clear: both; width: 100%; vertical-align: middle;
    font-family: sans,sans-serif; margin-top: 2ex;
    text-align: center; font-variant: small-caps;}
body.sbook h1.titlepage div.frontpiece { 
  text-align: center;}
body.sbook h1.titlepage .frontpiece img { border: none; }

h1.titlepage.sbookhead { text-decoration: none;}
h1.titlepage.sbookfocus { color: inherit;}
h1.titlepage.sbookpingfocus { text-decoration: inherit; color: inherit;}

body.sbook h1.titlepage div.poem { 
  border: solid 3px black; margin: 6px; font-size: 50%;}

body.sbook .frontpiece div.poem {
  margin: 0px; border: none; font-weight: normal;}
body.sbook .frontpiece div.poem div.stanza {
  margin: 0px;}

/* Poetry */

body.verse {
  margin-left: auto; margin-right: auto;}

body.verse div.part { margin-top: 6em; padding-top: 2em;}
body.verse div.part h1[toclevel='1'] { border-top: solid black 2em; }

/* These are part headings */
body.verse h1 { text-align: center;}
div.poem { 
  page-break-before: always;
  margin: 2em; padding: 1em;
  border-top: solid gray 3px;}

div.poem p.sig {
  text-align: right; font-weight: normal; font-style: italic;
  margin-top: 8px;}

/* These are poem titles */
body.verse h2 { 
  margin-left: 10%; text-align: left;}
body.verse div.stanza { 
  page-break-inside: avoid;
  margin-left: 10%; text-align: left;}

p.verse {
  text-align: left; margin-left: 10%;
  margin-top: 2px; margin-bottom: 2px;
  text-indent: -3em; }
div.stanza { 
  page-break-inside: avoid;
  text-align: left; margin-left: 10%;
  margin-top: 0px; margin-bottom: 0px;
  border: transparent solid 1px;
  padding-top: .75em; padding-bottom: .75em;}
div.stanza p {
  text-align: left; margin-left: 10%;
  margin-top: 2px; margin-bottom: 2px;
  text-indent: -10%; }

/* Prose */

p.prose {
  text-indent: 3em;}
body.prose p {
  text-indent: 3em;}

/* BCV
    stands for BOOK/CHAPTER/VERSE, a structured used in many
    sacred texts. */
p.bcv {}
body.bcv p {}
.bcv span.v { padding-right: 2em;}


/* Bibles */

body.bible {
 /* font-family: sans,sans-serif;  */
 width: 30em; font-size: 16px;
 margin-left: auto; margin-right: auto;}
body.bible span.poetry {
  display: block; margin-left: 3em; text-indent: -2em;
  line-height: 100%;}
body.bible span.poetry.level1 { margin-top: 5px;}
body.bible span.poetry.level1 span.poetry.level1 { margin-left: 0em;}
body.bible span.poetry.level2 { margin-left: 5em;}
body.bible span.poetry.level3 { margin-left: 7em;}

body.bible span.verse span.versemark + span.poetry.level1 { 
  margin-left: 0px; display: inline;}

body.bible span.poetry span.versemark {
  font-family: sans,sans-serif; font-size: 75%;}
body.bible span.poetry span.versemark:before { content: '(';}
body.bible span.poetry span.versemark:after { content: ') ';}
body.bible span.poetry span.verse:before { content: '';}

body.bible span.verse:before { content: ' // '; font-weight: bold;}
body.bible span.verse:first-child:before { content: '';}
body.bible span[versenum='1'].verse:before { content: '';}
body.bible span[versenum='1'].verse:first-child:before { content: '';}

body.bible span.versemark { font-weight: bold;}
body.bible span.footnote {
  font-weight: bold; color: green; vertical-align: super; font-size: 75%;}

/* Essays */

body.essay {
  font-family: helvetica,arial,sans,sans-serif;
  max-width: 40em; margin-left: auto; margin-right: auto;}

body.essay h1 { text-align: center;}
body.essay h1 a { text-decoration: none;}
body.essay h1 a:hover { text-decoration: underline;}
body.essay h1 a:visited { color: blue;}
body.essay h1 div.author {
    font-size: 50%; }
body.essay h1 div.pubinfo {
    font-size: 50%; font-weight: normal; font-variant: small-caps;}
body.essay h1 div.toplinks {
    margin-left: auto; margin-right: auto; border-top: solid blue 1px;
    text-align: center; font-size: 14px;}
body.essay h1 div.toplinks a {
    padding-right: 6px; padding-left: 6px;
    text-decoration: none; color: blue;}
body.essay h1 div.toplinks a:visited { color: blue;}
body.essay h1 div.toplinks a:hover { text-decoration: underline;}

body.essay h2 { text-align: left;}
body.essay li { page-break-inside: avoid;}

a.rightimage { float: right; width: 20%;}
a.rightimage img { border: none; width: 100%;}
a.leftimage { float: left; width: 20%;}
a.leftimage img { border: none; width: 100%;}

a.blockimage {
    page-break-inside: avoid; page-break-before: avoid;
    clear: both; width: 100%; display: block;}
a.blockimage img { border: none; width: 100%;}
img.blockimage { border: none; width: 100%;}

/*
body.essay div.toplinks a {
    padding-left: 1em; padding-right: 1em;
    margin-left: 2em; margin-right: 2em;
    border: solid blue 2px; border-top: none;
    -khtml-bottom-left-border-radius: 4px; 
    -webkit-bottom-left-border-radius: 4px; 
    -moz-border-radius-bottomleft: 4px; 
    border-bottom-left-radius: 4px;
    -khtml-bottom-right-border-radius: 4px; 
    -webkit-bottom-right-border-radius: 4px; 
    -moz-border-radius-bottomright: 4px; 
    border-bottom-right-radius: 4px;}
*/

/* Emacs local variables
;;;  Local variables: ***
;;;  compile-command: "cd ..; make" ***
;;;  End: ***
*/
