/* Help is displayed in fixed position boxes and selectively displayed
    based on the body class body.codexhelp and the individual state
    CSS classes maintained in the DOM tree.  */

body.codexhelp div#CODEXHUD img.hudbutton#CODEXHELPBUTTON {
    background-color: silver; border-color: black; opacity: 0.9;}

body.codexhelp div#CODEXHUD img.hudbutton { opacity: 0.9;}

div.helpbox {
    position: fixed;
    background-color: silver; color: black;
    padding: 1em; border: solid transparent 3px;
    border-radius: 1em; -webkit-border-radius: 1em;
    -moz-border-radius: 1em; -o-border-radius: 1em;
    z-index: -250;
    opacity: 0.001;
    overflow: auto;}

div.helpbox.atfoot {
    bottom: 0px; max-height: 75%; height: auto;
    border-bottom: 0px;
    border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;
    -o-border-bottom-left-radius: 0px; -o-border-bottom-right-radius: 0px; 
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px; 
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    left: 75px; right: 75px; width: auto;}

div#CODEXHUD div.helpbox#CODEXHELP {
    bottom: 75px; top: 75px;
    left: 100px; right: 100px;
    display: none;}
body.codexhelp div#CODEXHUD div.helpbox#CODEXHELP {
    display: block; opacity: 0.9; border-color: black; z-index: 250;}
body.codexhelp.hudup div#CODEXHUD div.helpbox#CODEXHELP,
body.codexhelp.codexscanning div#CODEXHUD div.helpbox#CODEXHELP {
    display: none;}
body.codexhelp div#CODEXHUD div.helphud { display: block;}
body.codexhelp.hudup div#CODEXHUD div.helphud { display: none;}
body.codexhelp.codexscanning div#CODEXHUD div.helphud { display: none;}

div#CODEXHUDHELP { display: none;}
body.codexhelp div#CODEXHUDHELP { display: block; }

body.codexhelp div#CODEXHUD.addgloss div#CODEXHUDHELP { display: block; }
body.codexhelp div#CODEXHUD.addgloss div#CODEXHELP { display: none; }

body.codexhelp.hudup div#CODEXHUD.toc div#CODEXTOCHELP.helpbox,
body.codexhelp div#CODEXHUD.addgloss div#CODEXADDGLOSSHELP.helpbox,
body.codexhelp div#CODEXHUD.tocscan div#CODEXTOCSCANHELP.helpbox,
body.codexhelp div#CODEXHUD.scanning div#CODEXSCANNINGHELP.helpbox,
body.codexhelp div#CODEXHUD.search div#CODEXSEARCHINPUTHELP.helpbox,
body.codexhelp div#CODEXHUD.searchresults div#CODEXSEARCHRESULTSHELP.helpbox,
body.codexhelp div#CODEXHUD.allglosses div#CODEXALLGLOSSESHELP.helpbox {
    opacity: 0.9; border-color: black; z-index: 260;}

/* Goto page and goto loc always display their help. */
body div#CODEXHUD.gotopage div#CODEXHUDHELP,
body div#CODEXHUD.gotoloc div#CODEXHUDHELP {
    text-align: center; display: block;}
body div#CODEXHUD.gotopage div#CODEXGOTOPAGEHELP.helpbox,
body div#CODEXHUD.gotoloc div#CODEXGOTOLOCHELP.helpbox {
    opacity: 0.9; border-color: black; z-index: 260;}

body.codexhelp.cxPREVIEW div#CODEXHUD div#CODEXHUDHELP {
    opacity: 0.05;}

div.helpbox p {
    /*
    display: block; text-align: left;
    margin-left: 2em; margin-right: 2em; text-indent: -1em;
    max-width: inherit; min-width: inherit; width: auto;
    */
}

div.helpbox h3 { margin-top: 0px;}
div.helpbox .clicktarget { color: lightblue; }
div.helpbox img.fullwidth {
    width: 80%; margin-left: 10%; margin-right: 10%;}
div.helpbox img.codextocbar {
    width: 70%; float: right;}

div.helpbox blockquote p {
    margin-top: 3px; margin-bottom: 3px;
    margin-left: 3em; margin-right: 3em; text-indent: -3em;}

div#BOTTOMHUDHELP {
    position: absolute; bottom: 0px; left: 40px; right: 40px;}
div#BOTTOMHUDHELP p {
    text-indent: 0px; margin-bottom: 1px; margin-top: 1px;
    max-width: 40em; margin-left: auto; margin-right: auto;
    text-align: center;}
div#BOTTOMHUDHELP p.checkspan { text-align: center; }

/* Emacs local variables
;;;  Local variables: ***
;;;  compile-command: "cd ..; make" ***
;;;  End: ***
*/

